body {
  margin: 0;
  padding: 0;
  background: url("70109FEC-E392-4DF9-8796-47C26421BC72.png") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Courier New', monospace;
  color: #ffffff;
}

button {
  background: #88e1f2;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

button:hover {
  background: #ffffff;
  color: #000;
}
