body {
  font-family: monospace;
  text-align: center;
  background: #001f3f;
  color: white;
  margin-top: 5rem;
}

button {
  background-color: #4da6ff;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

button:focus,
button:active {
  background-color: #4da6ff;
  outline: none;
}

.common {
  color: #bbbbbb;
}

.rare {
  color: #3f87ff;
}

.epic {
  color: #a36fff;
}

.legendary {
  color: gold;
  font-weight: bold;
  text-shadow: 0 0 5px gold;
}